.header__nav-button {
    background-color: transparent;
    border: none;
    text-transform: lowercase;
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: lighter;
    color: var(--text);
    cursor: pointer;
}

.header__nav-button:hover {
    color: gray;
}