.header__nav-button {
    background-color: transparent;
    border: none;
    font-family: var(--font);
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.header__nav-button:hover {
    color: gray;
}